************************************************************************************
*                                                                                  *
* DRILL TAPE SUMMARY REPORT                                                        *
*                                                                                  *
* W:\PROJECT WORKSPACE\PROJECT_WORK\AMOEBA2\IPS SCHEMATIC VER2_FINALPCB\IPS-1.MAX  *
* Tue Jun 12 17:43:26 2018                                                         *
*                                                                                  *
************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      91       200      100                                                                                 
T2       295      8        200      100                                                                                 
T3       315      11       200      100                                                                                 
T4       334      4        200      100                                                                                 
T5       360      215      200      100                                                                                 
T6       370      20       200      100                                                                                 
T7       472      6        200      100                                                                                 
T8       520      5        200      100                                                                                 
T9       551      18       200      100                                                                                 
T10      590      5        200      100                                                                                 
T11      630      10       200      100                                                                                 
T12      708      8        200      100                                                                                 
T13      728      5        200      100                                                                                 
T14      1008     8        200      100                                                                                 
T15      1378     23       200      100                                                                                 
T16      1653     4        200      100                                                                                 
T17      1772     4        200      100                                                                                 
